@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Itim', cursive;
    overflow: hidden;
    background-color: #f6f7fb;
}

.container {
    text-align: center;
}

.steps-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    width: 350px;
    max-width: 100%;
}

.steps-container::before {
    content: '';
    background-color: #e0e0e0;
    height: 4px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.progress { 
    background-color: #3498db;
    height: 4px;
    position: absolute;
    width: 23%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: .4s ease
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #999;
    border: 1px solid #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: #fff;
    transition: 0.4s ease;
}

.circle.active {
    background: #3498db;
    color: #fff;
}


.btn {
    background-color: #3498db;
    padding: 8px 30px;
    border: 1px solid #3498bd;
    border-radius: 10px;
    margin: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
    border: 0px
}